/* -----------------------------------------------------------------------

導覽列隱藏，主要內文的寬度最大化。

----------------------------------------------------------------------- */


div#sidebar {
    display:none !important;
    width: 0% !important;
}

div#primary div#content {
    width: 97% !important;
}
